<a href="https://colab.research.google.com/github/Narahd-ilaruM/Muralidharan/blob/main/for_loop_worked_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
list_of_numbers = [1,2,4,6,11,14,17,20]
for sequence,number in enumerate (list_of_numbers):
  squared_number = number**(2)
  print(f"The square of the number {number} is {squared_number} with index {sequence}")

The square of the number 1 is 1 with index 0
The square of the number 2 is 4 with index 1
The square of the number 4 is 16 with index 2
The square of the number 6 is 36 with index 3
The square of the number 11 is 121 with index 4
The square of the number 14 is 196 with index 5
The square of the number 17 is 289 with index 6
The square of the number 20 is 400 with index 7

In [13]:
list_of_numbers

[1, 2, 4, 6, 11, 14, 17, 20]

In [23]:
outcomes = []
for sequences,number in enumerate (list_of_numbers):
  squared_number = number**2
  outcomes.append(squared_number)
  print(f'list of square number is {outcomes} with index {sequences}')

list of square number is [1] with index 0
list of square number is [1, 4] with index 1
list of square number is [1, 4, 16] with index 2
list of square number is [1, 4, 16, 36] with index 3
list of square number is [1, 4, 16, 36, 121] with index 4
list of square number is [1, 4, 16, 36, 121, 196] with index 5
list of square number is [1, 4, 16, 36, 121, 196, 289] with index 6
list of square number is [1, 4, 16, 36, 121, 196, 289, 400] with index 7

In [24]:
print(list_of_numbers), print(outcomes)

[1, 2, 4, 6, 11, 14, 17, 20]
[1, 4, 16, 36, 121, 196, 289, 400]

(None, None)

In [26]:
zipped_dict = dict(zip(list_of_numbers,outcomes))
print(zipped_dict)

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

In [27]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [37]:
end_result = []
for sequence,number in enumerate (list_of_numbers):
  if number%2 == 0:
    cubed_number = number**3
    end_result.append(cubed_number)
    print(f"The value of {sequence+1} cubed number is {end_result}")
  else:
    print(f"{sequence+1} is an odd number")

1 is an odd number
The value of 2 cubed number is [8]
The value of 3 cubed number is [8, 64]
The value of 4 cubed number is [8, 64, 216]
5 is an odd number
The value of 6 cubed number is [8, 64, 216, 2744]
7 is an odd number
The value of 8 cubed number is [8, 64, 216, 2744, 8000]

In [39]:
end_result = []
for number in list_of_numbers:
  if number%2 == 0:
    cubed_number = number**3
    end_result.append(cubed_number)
    print(f"The value of cubed number is {end_result}")
  else:
    print(f"I am an odd number")

I am an odd number
The value of cubed number is [8]
The value of cubed number is [8, 64]
The value of cubed number is [8, 64, 216]
I am an odd number
The value of cubed number is [8, 64, 216, 2744]
I am an odd number
The value of cubed number is [8, 64, 216, 2744, 8000]

In [86]:
list_of_values = [1,2,3,4,5,6,7,8]
end_result = []
for number in list_of_values:
  if number%2 != 0:
    cubed_number = number**3
    end_result.append(cubed_number)
    print(f"The value of {number} cubed number is {end_result}")
  else:
    print(f"{number} is a even number")

The value of 1 cubed number is [1]
2 is a even number
The value of 3 cubed number is [1, 27]
4 is a even number
The value of 5 cubed number is [1, 27, 125]
6 is a even number
The value of 7 cubed number is [1, 27, 125, 343]
8 is a even number

In [42]:
#@title Default title text
for number in list_of_numbers:
  if number%2 == 0:
    cubed_number = number**3
    print(f"The value of {number} cubed number is {cubed_number}")
  else:
    print(f"I am an odd number")

I am an odd number
The value of 2 cubed number is 8
The value of 4 cubed number is 64
The value of 6 cubed number is 216
I am an odd number
The value of 14 cubed number is 2744
I am an odd number
The value of 20 cubed number is 8000

In [51]:
list(range(0,21,3))
for number in range(0,21,3):
  square_root = number**(1/2)
  print(f"the square root of {number} is {square_root}")

the square root of 0 is 0.0
the square root of 3 is 1.7320508075688772
the square root of 6 is 2.449489742783178
the square root of 9 is 3.0
the square root of 12 is 3.4641016151377544
the square root of 15 is 3.872983346207417
the square root of 18 is 4.242640687119285

In [92]:

sum_squares = 0

for number in range(1,11):
  sum_squares = sum_squares + number
  print(sum_squares)

# Now we have added the squares of all the numbers in our list
print(f"The sum of the squares of our list of numbers is {sum_squares}")

1
3
6
10
15
21
28
36
45
55
The sum of the squares of our list of numbers is 55

In [90]:
sum_squares = 0

for number in range(1,10):
  sum_squares = sum_squares + number**2
 
print(f"The sum of squares in the range is {sum_squares}")

The sum of squares in the range is 285

In [89]:
sum_squares = 0

for number in range(1,11):
  sum_squares = sum_squares + number**2
  print(sum_squares)

# Now we have added the squares of all the numbers in our list
print(f"The sum of the squares of our list of numbers is {sum_squares}")

1
5
14
30
55
91
140
204
285
385
The sum of the squares of our list of numbers is 385

In [93]:
heisenberg_quote =  "I am the one who knocks!"
for char in heisenberg_quote:
  print(f" The character is {char}")

 The character is I
 The character is
 The character is a
 The character is m
 The character is
 The character is t
 The character is h
 The character is e
 The character is
 The character is o
 The character is n
 The character is e
 The character is
 The character is w
 The character is h
 The character is o
 The character is
 The character is k
 The character is n
 The character is o
 The character is c
 The character is k
 The character is s
 The character is !

In [94]:
heisenberg_quote =  "I am the one who knocks!"
for position,char in enumerate(heisenberg_quote):
  print(f" The character is {char} with index {position}")

 The character is I with index 0
 The character is   with index 1
 The character is a with index 2
 The character is m with index 3
 The character is   with index 4
 The character is t with index 5
 The character is h with index 6
 The character is e with index 7
 The character is   with index 8
 The character is o with index 9
 The character is n with index 10
 The character is e with index 11
 The character is   with index 12
 The character is w with index 13
 The character is h with index 14
 The character is o with index 15
 The character is   with index 16
 The character is k with index 17
 The character is n with index 18
 The character is o with index 19
 The character is c with index 20
 The character is k with index 21
 The character is s with index 22
 The character is ! with index 23

In [100]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."
words_by_walter = heisenberg_quote.split(" ")
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,', 'Skyler.', 'I', 'am', 'the', 'danger.']

In [101]:
for word in words_by_walter:
  if word not in['to','exist']:
    print(f"The updated sentence is {word}")

The updated sentence is It
The updated sentence is ceases
The updated sentence is without
The updated sentence is me.
The updated sentence is No,
The updated sentence is you
The updated sentence is clearly
The updated sentence is don't
The updated sentence is know
The updated sentence is who
The updated sentence is you're
The updated sentence is talking
The updated sentence is to,
The updated sentence is so
The updated sentence is let
The updated sentence is me
The updated sentence is clue
The updated sentence is you
The updated sentence is in.
The updated sentence is I
The updated sentence is am
The updated sentence is not
The updated sentence is in
The updated sentence is danger,
The updated sentence is Skyler.
The updated sentence is I
The updated sentence is am
The updated sentence is the
The updated sentence is danger.

In [114]:
days = ('Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday','Saturday','Sunday')

for sequence,day in enumerate(days):
  print(f"Day {sequence+1} is {day}")

Day 1 is Monday
Day 2 is Tuesday
Day 3 is Wednesday
Day 4 is Thursday
Day 5 is Friday
Day 6 is Saturday
Day 7 is Sunday

In [117]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','Canberra','Rovers'),('United States','Washington DC','Missouri'),('England','London','Thames')]

In [121]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','Canberra','Rovers'),('United States','Washington DC','Missouri'),('England','London','Thames')]
for country,capital,river in country_city_river_list:
  print(f"The capital of {country} is {capital} with flow of river {river}")

The capital of India is New Delhi with flow of river Ganga
The capital of Australia is Canberra with flow of river Rovers
The capital of United States is Washington DC with flow of river Missouri
The capital of England is London with flow of river Thames